body,html {
  background: #000;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
}
h1 {
  color: skyblue;
  font-weight: lighter;
}
section {
  display: block;
  max-width: 600px;
  padding: .5em;
  background: #000;
  margin: 0 auto;
  position: relative;
}
li {
  list-style:none;
  float: left;
}

a {
  text-decoration: none;
}
.share a {
  background: powderblue;
  color: #000;
  padding: 2px 5px;
  text-transform: uppercase;
}
li a {
  line-height: 33px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  width: 33px;
  color: #000;
  height: 33px;
  border-radius: 50% 50%;
  display: block;
  transform: scale(0.85);
  transition: 0.4s;
  width: 10vw;
  height: 10vw;
}
li a:hover { 
  transform: scale(1); 
}
b { 
  font-weight: normal; 
}
ul { 
  margin: 100px 0 50px 0;
  padding: 0;
  overflow: auto;
}
p {
  font-size: 20px;
  line-height: 1.3em;
}

ul#levelbuttons {
  margin: 1em 0 0 0;
  padding: 0;
}
.intro, .gameover {
  font-weight: lighter;
  z-index: 3;
  background: #000;
  max-width: 600px;
  width: 75%;
  padding: 2em;
  position: absolute;
  left: 50%;
  top: -1000px;
  transform: translateX(-50%);
  transition: 1s;
}
.loaded .intro, .ended .gameover {
  top: 30px;
}
.riddle {
  text-transform: uppercase;
  position: fixed;
  max-width: 580px;
  background:rgba(0,0,0,.7);
  pointer-events: none;
  top: 10px;
  padding: 10px;
  z-index: 2; 
}
.loaded .riddle, .loaded .swabs,
.ended .riddle, .ended .swabs {
  opacity: 0;
  transition: 0.4s;
}
#colourname {
  color: lime;
}  
#result {
  display: block;
  color: #ccc;
  margin-top: 5px;
}
small {
  display: block;
  clear: both;
  color: #ccc;
  text-align: right;
  padding: 2em 0 1em 0;
}
small a {
  color: limegreen;
}
span span {
  padding: 0 .2em;
}
.right {
  color: LawnGreen;
}
.wrong {
  color: IndianRed;
}
button {
  border: none;
  background: olivedrab;
  text-transform: uppercase;
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  padding: 2px 5px;
  margin: 2em 0;
  clear: both;
  display: block;
}
li button {
  background: lightslategrey;
  margin: 0 .2em 0 0;
  color:white;
}
li button:hover, li button:focus {
  background: deepskyblue;
  color: white;
  transition: 0.3s;
}
@media only screen and (min-width: 680px) {
   li a {
    width: 60px;
    height: 60px;
  }
}